<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://intilaqemployee.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>intilaqemployee.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>intilaqemployee</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$intilaqemployee</UserName>
    <_SavePWD>True</_SavePWD>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="EmployeesDataContext" Order="1" Enabled="False">
          <Destination Path="Data Source=tcp:qldyc8g0aj.database.windows.net,1433;Initial Catalog=intilaqemployeesample_db;User ID=houssem@qldyc8g0aj;Password=@hd04061989" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="RestfulApplication.Services.Models.EmployeesDataContext, RestfulApplication.Services" Origin="Configuration" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="DefaultConnection" Order="2" Enabled="False">
          <Destination Path="Data Source=tcp:qldyc8g0aj.database.windows.net,1433;Initial Catalog=intilaqemployeesample_db;User ID=houssem@qldyc8g0aj;Password=@hd04061989" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="RestfulApplication.Services.Models.ApplicationDbContext, RestfulApplication.Services" Origin="Configuration" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="EmployeesContext" Order="3" Enabled="False">
          <Destination Path="Data Source=tcp:qldyc8g0aj.database.windows.net,1433;Initial Catalog=intilaqemployeesample_db;User ID=houssem@qldyc8g0aj;Password=@hd04061989" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=(localdb)\v11.0;AttachDbFilename=|DataDirectory|EmployeesContext-20150128083708.mdf;Initial Catalog=EmployeesContext-20150128083708;Integrated Security=True" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\EmployeesContext_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Data Source=(localdb)\v11.0; Initial Catalog=EmployeesContext-20150128083708; Integrated Security=True; MultipleActiveResultSets=True; AttachDbFilename=|DataDirectory|EmployeesContext-20150128083708.mdf" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)DefaultConnection-Web.config Connection String">
      <ParameterValue>Data Source=tcp:qldyc8g0aj.database.windows.net,1433;Initial Catalog=intilaqemployeesample_db;User ID=houssem@qldyc8g0aj;Password=@hd04061989</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)EmployeesContext-Web.config Connection String">
      <ParameterValue>data source=tcp:qldyc8g0aj.database.windows.net,1433;initial catalog=intilaqemployeesample_db;user id=houssem@qldyc8g0aj;password=@hd04061989;MultipleActiveResultSets=True</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)EmployeesDataContext-Web.config Connection String">
      <ParameterValue>Data Source=tcp:qldyc8g0aj.database.windows.net,1433;Initial Catalog=intilaqemployeesample_db;User ID=houssem@qldyc8g0aj;Password=@hd04061989</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>